Django==1.9.6
django-countries==3.4.1
django-crispy-forms==1.6.0
django-filter==0.13.0
django-filters==0.2.1
django-formtools==1.0
django-material==0.8.0
django-materialize-css==0.0.1
django-tables2==1.2.1
