<<<<<<< HEAD
form p {
	width:30%;
}

.helptext {
	display:none
}

=======
>>>>>>> origin/master
form .fieldWrapper {
	width:10em;
	float:left;
	margin-right:1em;
<<<<<<< HEAD
}

form #id_installedInVessel {
	display:none;
=======
>>>>>>> origin/master
}