{% load staticfiles %}
<html>
	<head>
		<style>

		</style>
		<!--Import materialize.css-->
    	<link type='text/css' rel='stylesheet' href="{% static 'css/seals.css' %}?{% now "U" %}" />

        {% include 'material/includes/material_css.html' %}
        <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
        {% include 'material/includes/material_js.html' %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% load material_form %} 

	</head>
  
 	<body>

        <div class="content container">
                {% block content %}
                {% endblock %}
        </div>

 	</body>
</html>