{% extends 'seals/base.html' %}
{% load render_table from django_tables2 %}
			

{% block content %}
	<h1>Seal: {{ seal.serial_number }} </h1>
	<a class='waves-effect waves-light btn' href="{% url 'seals:index' %}">Back to overview</a>
	<a class='waves-effect waves-light btn red' href="{% url 'seals:delete' seal.id %}">Delete seal</a>
	<a class='waves-effect waves-light btn orange' href="{% url 'seals:add_report' seal.id %}">Add report</a>
	<br><br>
	<div class='row'>
		<div class='col s6'>
			<!-- vessel and action information -->
			<div class='row'>
				<div class='col s12'>
					<div class="card blue-grey darken-1">
						<div class="card-content white-text">
							<span class="card-title">Seal information</span>
							<div style='float:right;'>
								<a class="btn-floating waves-effect waves-light orange" href="{% url 'seals:edit' seal.id %}"><i class="material-icons">edit</i></a>
							</div>
							<p>Created: {{ seal.created }}</p>
							<p>Serial number: {{ seal.serial_number }}</p>
							<p>Size: {{ seal.size }}</p>
							<p>Status: {{ seal.status }}<p>
							<p><a href="{% url 'seals:add_report' seal.id %}">Add report</a></p>
						</div>
					</div>
				</div>



				{% for report in seal.report_set.all %}
				<div class='col s12'>
					<div class="card blue-grey lighten-4">
						<div class="card-content ">
							<span class="card-title">{{ report }}</span>
							<div style='float:right;'>
								<a class="btn-floating waves-effect waves-light orange" href="{% url 'seals:add_action' seal.id report.id %}"><i class="material-icons">add</i></a>
							</div>
								<p>Created: {{ report.created }}</p>
								<p>Remarks: {{ report.remarks }}</p>
								<br>
								<ul class='collection with-header blue-grey'>
									<li class='collection-header'>Actions</li>
								{% for action in report.action_set.all %}
									<li class='black-text collection-item'>before {{ action.execute_date }}: {{ action.name }} <i>({{ action.remarks }})</i>
								{% endfor %}
								</ul>
								
						</div>
					</div>
				</div>	
				{% endfor %}


				
				
			</div>
		</div>
		<div class='col s6'>
			<!-- vessel and contact information -->

			<div class='col s12'>
				<div class='card blue-grey darken-1'>
					<div class='card-content white-text'>
						<span class='card-title'>Vessel information</span>
						<p>Name: <a href="{% url 'seals:vessel_detail' seal.id %}">{{ seal.installedinvessel }}</a></p>
						<p>IMO number: {{ seal.installedinvessel.imo_number }}</p>
						<p>Company: 
								<a href="{% url 'seals:company' seal.installedinvessel.company.id %}">{{ seal.installedinvessel.company }}</a>
						</p>
						
					</div>
				</div>
			</div>
			{% for contact in seal.installedinvessel.contact.all %}
			<div class='col s6'>
				<div class="card teal darken-1">
					<div class="card-content white-text">
						<span class="card-title">{{ contact.first_name }} {{ contact.last_name }}</span>
						<div style='float:right;'>
							<a class="btn-floating waves-effect waves-light teal lighten-2" href="{% url 'seals:editContact' seal.installedinvessel.company.id contact.id %}"><i class="material-icons">edit</i></a>
						</div>
							<p>Position: {{ contact.position }}</p>
							<p>Username: {{ contact.user.username }}</p>
							<p>Phone number: {{ contact.phone_number }}</p>
					</div>
				</div>
			</div>
			{% endfor %}


		</div>
{% endblock %}	 			