{% extends 'seals/base.html' %}
{% load render_table from django_tables2 %}
{% load material_form %} 		

{% block content %}
	<h1>Seals</h1>
	<a class='waves-effect waves-light btn' href="/">Home</a>
	<a class='waves-effect waves-light btn' href="{% url 'seals:add_seal' %}">Add seal</a>


		<ul class='collapsible' data-collapsible='accordion'>
			<li>
				<div class='collapsible-header'>Search in seals</div>
				<div class='collapsible-body container'>
				    <form class='search-seals' action="" method="get">
				    	{% csrf_token %}
				        {% for field in filter.form %}
				        	<div class='fieldWrapper' id='{{ field.auto_id }}'>
				        		{{ field.errors }}
				        		{{ field.label_tag }}: {{ field }}
				        	</div>
				        {% endfor %}
				        <input type="submit" value='Search' />
				        <a href='{{ request.path }}'>Reset</a>
				    </form>
				</div>
			</li>
		</ul>

	{% render_table table %}
{% endblock %}	 