html {
	font-family:sans-serif;
}



h1 {
    font-size:3em;
    font-family:'georgia';
}

span.card-title {
    font-family:'georgia';
}

nav img {
    height:60px;
}

nav ul a {
    font-family:"georgia";
    color:black;
}



div#background {
	background-image: url("../images/sva-opacity.jpg");
	width:100%;
	height:100%;
	position: fixed;
	z-index:-1;
}

.search-seals .fieldWrapper {
	line-height:1em;
	width:10em;
	float:left;
	position:relative;
	margin-right: 1em;
}

.search-seals .fieldWrapper .select-wrapper input.select-dropdown {
	margin-top:0px;
}