{% load staticfiles %}<html>
	<head>
		<style>

		</style>
		<!--Import materialize.css-->
        <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>

        {% include 'material/includes/material_css.html' %}
        {% include 'material/includes/material_js.html' %}
        {% load material_form %} 
        <script type='text/javascript' src="{% static 'js/jquery-ui.js' %}""></script>
        <link rel='stylesheet' type='text/css' href="{% static 'css/jquery-ui/smoothness/jquery-ui.css' %}" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/isah.css' %}">
	</head>
  
 	<body>
        <div id='background'></div>
        <div class='content container'></div>
        
        {% block mainmenu %}
        {% endblock %}

        
        <div class="content container">
                {% block content %}
                {% endblock %}
        </div>

 	</body>
</html>
