{% extends 'isah/base.html' %}
{% load static %}


{% block content %}
<h1>{{ company }}</h1>
<div class='row'>
    <div class='col s6'>
        <div class='card teal lighten-4'>
            <div class='card-content'>
                <span class='card-title black-text'>Company information</span>
                <div style='float:right;'>
                    <a class="btn-floating waves-effect waves-light blue" href="{% url 'isah:SealCompanyEditForm' company.id %}?next={{request.path}}"><i class="material-icons">edit</i></a>
                </div>
                <table class='teal lighten-5' style='font-size:0.8em;'>
                    <tbody>
                        <tr>
                            <td>Name</td><td>{{ company.name }}</td>
                        </tr>
                        <tr>
                            <td>Address</td><td>{{ company.street_and_number }}</td>
                        </tr>
                        <tr>
                            <td>Postal code</td><td>{{ company.postal_code }}</td>
                        </tr>
                        <tr>
                            <td>Province</td><td>{{ company.province }}</td>
                        </tr>
                        <tr>
                            <td>City</td><td> {{ company.city }}</td>
                        </tr>
                    </tbody>
                </table>    
            </div>
        </div>
        <div class='card teal lighten-4'>
            <div class='card-content'>
                <span class='card-title black-text'>Vessels</span>
                {% for vessel in vessels %}
                    <p>{{ vessel.name }} (IMO: {{ vessel.imo_number }})</p>
                {% endfor %}

            </div>
        </div>
    </div>
    <div class='col s6'>
        <div class='card teal lighten-4'>
            <div class='card-content'>
                <span class='card-title black-text'>Seals</span>
                {% for seal in seals %}
                    <p><a href="{% url 'isah:SealDetail' seal.id %}">{{ seal.serial_number }}</a> (Vessel: {{ seal.vessel.name }})</p>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

{% endblock %}

