{% extends 'isah/base.html' %}
{% load static %}
{% load render_table from django_tables2 %}

{% block content %}
<h1>{{ title }}</h1>

<div class="fixed-action-btn" style="bottom: 24px; right: 24px;">
	<a class="btn-floating btn-large red" href="{% url 'isah:'|add:add_form %}"><i class="large material-icons">add</i></a>
</div>

{% if filters %}
<div class='row'>
	<div class='col s12'>
		<form class='search-seals' action="" method="get">
			{% csrf_token %}
			<input class='btn' type="submit" value='Search' />
			<a class='btn orange' href='{{ request.path }}'>Reset</a>
			<br><br>
			{% for field in filters.form %}
				<div class='fieldWrapper' id='{{ field.auto_id }}'>
					{{ field.errors }}
					{{ field.label_tag }}: {{ field }}
				</div>
			{% endfor %}
		</form>
	</div>
</div>
<hr>
{% endif %}



<div class='row'>
	<div class='col s12'>
				{% render_table table %}
	</div>
</div>
{% endblock %}
