
{% extends 'sealadvisor2/base.html' %}
{% load static %}
{% load material_form %} 			

{% block content %}
<h1>Supreme Seal Advisor</h1>

{% for tab in tabs %}
<a href='{{ tab.href }}' class='btn waves-effect waves-light teal'>{{ tab.key }}</a>
{% endfor %}


<div class='row'>
	<div class='col s4'>
		<div class='card teal lighten-4'>
			<div class='card-content'>
				<span class='card-title black-text'>{{ title }}</span>
				<form method="POST" class="post-form">
                    {% csrf_token %}
                    {% form form=form %} {% endform %}
                    <br>
                    <br>
                    <button type="submit" class="save btn btn-default">{{ submit }}</button>
                    <!--<a class='wave-effect btn' href="{% url 'sealadvisor2:index' %}">Cancel</a>-->
                </form>
			</div>
		</div>
	</div>
	<div class='col s8'>

        
        <div class='card teal lighten-4'>
            <div class='card-content'>
                <span class='card-title black-text'>Explanation</span>

                <p><b><a class=' modal-trigger' href='#modal1'>Seaguard</a></b></p>
                <p>- Do you prefer to be on the safe side?</p>
                
                
                
                
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h4>Seaguard information</h4>
                        <p>Ensures extra security against oil leakage into the water environment. The chamber between the two oil-repellant lip seals is filled with oil from the L.O. tank. The pressure on both sides of the fourth lip seal remains equal. By closing-off the oil supply to this chamber, this fourth lip seal can be used as a new oil-repellant lip seal. Benefits: In case of leakage, docking and maintenance can be postponed by putting this fourth seal to work</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                        <a href="#!" id='selectseaguard' class=" modal-action modal-close waves-effect waves-green btn-flat">Use seaguard</a>
                    </div>
                </div>
                
                

          
                
                    <br>
                <p><b><a class=' modal-trigger' href='#modal_air'>Zero emission (Ventus/Athmos)</a></b></p>
                <p>- Looking for zero emission?</p>
                <p>- Do you want to monitor the seal condition?</p>
                <p>- Does your vessel sail in places where zero emission is required?</p> 
                <br>
                
                <div id="modal_air" class="modal">
                    <div class="modal-content">
                        <h4>Zero emission using air system</h4>
                        <b>Ventus</b><br>
                        The Supreme Ventus uses an air system to separate oil and water and regulate pressures inside the shaft seal and stern tube. Any fluids that enter the shaft seal are drained into an internal drain tank. Different than most systems, the Supreme Ventus works without interventions of sensors and varying air-flows and it is fully self-regulatory.
                        <br>
                        The standard Supreme Ventus execution consists of bronze housing parts including the Supreme Ventus valve, a chrome steel liner, one oil and two water-repellant NBR lip seals. In addition the system uses a compact drain tank with self-regulatory air-control unit.
                        <br>
                        <br>
                        <b>Athmos</b><br>
                        The Supreme Athmos features a fail safe and Condition Monitoring option to deliver you optimal peace of mind. If the system fails, the seal will switch to its normal sealing mode. The drain tank captures the little oil that the seal uses and the tank indicates when it should be emptied. That way, the seals’ condition can be monitored at all times.
                        <br>
                        The Supreme Athmos consists of bronze housing parts, a chrome steel liner, one oil and two water repellant NBR lip seals. In addition the system uses a compact drain tank with self-regulatory air-control unit.

                    </div>
                    <div class="modal-footer">
                        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                        <a href="#!" id='selectair' class="  waves-effect waves-green btn-flat">Use air system</a>
                    </div>
                </div>
                
                
                
                
                <p><b><a class=' modal-trigger' href='#modal_dirt'>Dirt barrier/net cutters/wire winders</a></b></p>
                <p>- Will the vessel sail in waters where a lot of sand or debris is present in the water?</p>
                <br>
                
                <div id="modal_dirt" class="modal">
                    <div class="modal-content">
                        <h4>Dirt barrier/wire winders/net cutters</h4>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                        <a href="#!" id='selectwire' class="  waves-effect waves-green btn-flat">Use wire winders</a>
                        <a href="#!" id='selectnet' class="  waves-effect waves-green btn-flat">Use net cutters</a>
                        <a href="#!" id='selectdirt' class="  waves-effect waves-green btn-flat">Use dirtbarrier</a>
                    </div>
                </div>


                <p><b><a class=' modal-trigger' href='#modal_cathodic'>Cathodic protection</a></b></p>
                <p>- Do you want to protect the liner against corrosion?</p>            
                <br>
                
                <div id="modal_cathodic" class="modal">
                    <div class="modal-content">
                        <h4>Cathodic protection</h4>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                        <a href="#!" id='selectcathodic' class=" waves-effect waves-green btn-flat">Use cathodic protection</a>
                    </div>
                </div>
                
                
                <p><b><a class=' modal-trigger' href='#modal_hml'>HML / Distance ring</a></b></p>
                <p>- Would you like to stretch the liner lifetime using a HML (hard metal layer) or distance ring?</p>
                
                <div id="modal_hml" class="modal">
                    <div class="modal-content">
                        <h4>Information</h4>
                        <p><b>HML</b></p>
                        <p>Tests under specific conditions indicate that the lifetime of a liner provided with a HML may be stretched up to 20 years. The real lifetime varies depending on the specific operation conditions of a seal.</p><br>
                        <p><b>Distance ring</b></p>
                        <p>The distance ring extends the lifetime of a liner. A divisible distance ring can be fitted with the SUPREME design. Over time, the rubber lip seals wear down the liner. By removing or adding a distance ring, the housing parts can be repositioned. After repositioning, the lip seals run on a new surface thus extending the lifetime of the seal.</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                </div>
                
                
                <br>
                <p><b><a class=' modal-trigger' href='#modal_hastelloy'>Hastelloy springs</a></b></p>
                <p>info</p>
                
                
                <div id="modal_hastelloy" class="modal">
                    <div class="modal-content">
                        <h4>Hastelloy information</h4>
                        <p>info</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                        <a href="#!" id='selecthastelloy' class="modal-action modal-close waves-effect waves-green btn-flat">Use hastelloy</a>
                    </div>
                </div>
                <img src="{% static 'images/opties.jpg' %}" class='opties'>
            </div>
        </div>
      



        {% if extra %}
        <div class='card teal lighten-4'>
            <div class='card-content'>
                <span class='card-title black-text'>Extra information</span>
                <p id='pv_value'></p><br>
                <div id='fkm_card'>
                    <p>For a PV-value higher than 4 lagersmit requires FKM lip-seals to be used.</p><br>
                </div>
                <div id='ventus_card'>
                    <p>For a PV-value higher than 6 a ventus will be autoselected. This can be turned off later on if the customer does not want a ventus system.</p>
                    <p><img height='200px' src="{% static 'images/ventus.jpg' %}"></p><br>
                </div>
            </div>
        </div>
        {% endif %}

	</div>

</div>


<script type='text/javascript'>

(function($) {
    $(function() {
    
        $('#selectseaguard').click(function() {
            $('#id_seaguard').prop('checked','true');
        });
        
        $('#selectdirt').click(function() {
            $('#id_dirtBarrier').prop('checked', 'true');
        });
        
        $('#selectwire').click(function() {
            $('#id_wireWinders').prop('checked', 'true');
        });
        
        $('#selectnet').click(function() {
            $('#id_netCutters').prop('checked', 'true');
        });
        
        $('#selectair').click(function() {
            $('#id_air').prop('checked', 'true');
        });
        
        
        $('#selectcathodic').click(function() {
            $('#id_anode').prop('checked', 'true');
        });
        
        
        $('#selecthastelloy').click(function() {
            $('#id_hastelloy').prop('checked', 'true');
        });
    });
})(jQuery);

</script>

<script type='text/javascript'>
(function($) {

        $(document).ready(function() {
            $('.modal-trigger').leanModal();
        });

})(jQuery);

</script>

{% endblock %}	 
