
{% extends 'sealadvisor2/base.html' %}
{% load static %}
{% load material_form %} 			

{% block content %}
<h1>{{ title }}</h1>



<div class='row'>
	<div class='col s4'>
		<div class='card teal lighten-4'>
			<div class='card-content'>
                <div style='float:right;'>
                    <a class="btn-floating waves-effect waves-light blue" href="{% url 'sealadvisor2:createCompany' %}"><i class="material-icons">add</i></a>
                </div>
				<span class='card-title black-text'>{{ title }}</span>
                {% for company in companies %}
                    <p><a href="{% url 'sealadvisor2:CompanyEdit2' company.id %}">{{ company }}</a></p>
                {% endfor %}
			</div>
		</div>
	</div>
	<div class='col s8'>

        

	</div>

</div>




{% endblock %}	 
