
{% extends 'sealadvisor2/base.html' %}
{% load static %}
			

{% block content %}
<h1>Sealadvisor</h1>

<div class='row'>
	<div class='col s4'>
		<div class='card small blue lighten-2'>
			<a href="{% url 'sealadvisor2:supreme' %}">
			<div class='card-image'>
				<img src="{% static 'images/sta.png' %}">
				<span class='card-title black-text'><b>Add Supreme advise</b></span>
			</div>
			<div class='card-content white-text'>
				<p>Supreme seals are used for sterntubes, thruster and bulkhead seals</p>
			</div>
			</a>
		</div>
		<div class='card small blue lighten-2'>
			<a href=''>
			<div class='card-image'>
				<img src="{% static 'images/liquidyne.jpg' %}">
				<span class='card-title black-text'><b>Add Liquidyne advise</b></span>
			</div>
			<div class='card-content white-text'>
				<p>Liquidyne seals are used for pumps and cutter gear</p>
			</div>
			</a>
		</div>
	</div>
	<div class='col s8'>
		{% for advise in supreme %}
			<div class='col s4'>
				<div class='card blue lighten-4'>
					<div class='card-content'>
						<span class='card-title'>
							<a href="{% url 'sealadvisor2:supremeEdit' advise.id %}">{{ advise.application }} (id #{{ advise.id }})</a>
						</span>
						<p>{{ advise.get_cpp_fpp_display }}</p>
						{% if advise.company %}
							<p>{{ advise.company }}</p>
						{% endif %}

						{% if advise.aft_seal %}
							<p>Aft seal</p>
						{% endif %}
						{% if advise.fwd_seal %}
							<p>Forward seal</p>
						{% endif %}
						<p>RPM: {{ advise.rpm }}</p>
						<p>Draught shaft: {{ advise.draught_shaft }}m</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}	 