
{% extends 'sealadvisor2/base.html' %}
{% load static %}
{% load material_form %} 			

{% block content %}
<h1>Supreme Seal advisor</h1>

{% for tab in tabs %}
<a href='{{ tab.href }}' class='btn waves-effect waves-light teal'>{{ tab.key }}</a>
{% endfor %}

<div class='row'>
	<div class='col s6'>
		<div class='card teal lighten-4'>
			<div class='card-content'>
				<span class='card-title black-text'>{{ title }}</span>
				<form method="POST" class="post-form">
                    {% csrf_token %}
                    {% form form=form %} {% endform %}
                    <br>
                    <button type="submit" class="save btn btn-default">{{ submit }}</button>
                    <!--<a class='wave-effect btn' href="{% url 'sealadvisor2:index' %}">Cancel</a>-->
                </form>
			</div>
		</div>
	</div>
	<div class='col s6'>
        <div class='card teal lighten-4' id='id_fpp_cpp_info'>
            <div class='card-content'>
                <span class='card-title black-text'>Fixed or controllable pitch</span>
                <p>A Controllable pitch propellor (CPP) has blades that can be adjusted to vary the thrust power or direction. When a CPP is used, the shaft has to be pulled to install the seal or a new liner.</p>
                <br>
                <p>When using a fixed pitch propellor, the aft seal can be installed without pulling the shaft as removal of the propellor is enough.</p>
                <br>
                <p align='center'><img height='200px' src="{% static 'images/cppfpp.jpg' %}">
            </div>
        </div>
        <div class='card teal lighten-4' id='id_vgp_info'>
            <div class='card-content'>
                <span class='card-title black-text'>VGP (Vessel general permit</span>
                <p>The VGP states that no mineral oil can be leaked or a specific bio-oil must be used. To comply with the VGP regulations, either bio-oil must be used or an air type (Ventus/Athmos) seal must be used.</p>
            </div>
        </div>
        {% if air %}
		<div class='card teal lighten-4' id='air_card'>
			<div class='card-content'>
				<span class='card-title black-text'>Air type</span>
				<p>An air type system complies with VGP regulations and reduces the pressure on the lip-seals.</p>
				<br>
				<p>The PV-value is equal to: {{ pv }}</p>
				<p id='air_type'>For the specified draught a {{ air_type }} system is used.</p>
			</div>
		</div>
        {% endif %}
        {% if extra %}
        <div class='card teal lighten-4'>
            <div class='card-content'>
                <span class='card-title black-text'>Extra information</span>
                <p id='pv_value'></p><br>
                <div id='fkm_card'>
                    <p>For a PV-value higher than 4 lagersmit requires FKM lip-seals to be used.</p><br>
                </div>
                <div id='ventus_card'>
                    <p>For a PV-value higher than 6 a ventus will be autoselected. This can be turned off later on if the customer does not want a ventus system.</p>
                    <p><img height='200px' src="{% static 'images/ventus.jpg' %}"></p><br>
                </div>
            </div>
        </div>
        {% endif %}

	</div>

</div>


<script type='text/javascript'>

(function($) {
    $(function() {
        var selectField = $('#id_cpp_fpp');
        var oring = $('#id_pressure_oring');


        function toggleVerified(value) {
            if (value == 'fpp') {
            	oring.parent().show();
        	} else {
        		oring.parent().hide();
        	};
        }

        toggleVerified();

//         if ($('#id_air').is(':checked')) {
//         		$('#air_card').show();
//     	} else {
//         		$('#air_card').hide();
//     	}

        // show/hide on change
        selectField.change(function() {
            toggleVerified($(this).val());
        });


//         vgp.change(function() {
//         	if (vgp.is(':checked') && selectField.val()=='mineral') {
//         		$('#id_air').prop('checked', true);
//         		$('#air_card').show();
//         	} else {
//         		$('#id_air').attr('disabled', false);
//         	}
//         });
        

        $('#id_fpp_cpp_info').hide();

        $('#id_cpp_fpp_container')
        .mouseover(function() {
            $('#id_fpp_cpp_info').show();
            clearTimeout(hoverTimeOut);
        })
        .mouseout(function() {
            hoverTimeOut = setTimeout(function() {
                $('#id_fpp_cpp_info').hide();
            }, 500);
        })

        $('#id_vgp_info').hide();

        $('#id_vgp_container')
        .mouseover(function() {
            $('#id_vgp_info').show();
            clearTimeout(hoverTimeOut_vgp);
        })
        .mouseout(function() {
            hoverTimeOut_vgp = setTimeout(function() {
                $('#id_vgp_info').hide();
            }, 500);
        })
        
        
    });
})(jQuery);

</script>

<script type='text/javascript'>
(function($) {
    $(function() {
        var selectField = $('#id_application');
        var fwd = $('#id_fwd_seal');
        var aft = $('#id_aft_seal');
        var aftsize = $('#id_aftSize')
        var fwdsize = $('#id_fwdSize')
        var aftbuild = $('#id_aft_build_in_length');

        function toggleVerified(value) {
            value == '1' ? aft.parent().show() : aft.parent().hide();
            value == '1' ? fwd.parent().show() : fwd.parent().hide();
            toggleSizes();
        }

        function toggleSizes() {
            if (aft.is(':checked') || selectField.val() != '1') {
                aftsize.parent().show();
                aftbuild.parent().show();
            } else {
                aftsize.parent().hide(); 
                aftbuild.parent().hide();
            }

            if (fwd.is(':checked')) {
                fwdsize.parent().show();
            } else {
                fwdsize.parent().hide();
            }
        }




        function checkVentus(PV) {
            if ( $('#id_aftSize').val() > 0 && $('#id_rpm').val() && $('#id_draught_shaft').val() ) {
                PV = $('#id_aftSize').val()*3.14*($('#id_rpm').val()/60)*($('#id_draught_shaft').val()/10000);

                
            } else {
                PV = 0;
            }

            (PV > 6) ? $('#ventus_card').show() : $('#ventus_card').hide();
            (PV > 4) ? $('#fkm_card').show() : $('#fkm_card').hide();
            $('#pv_value').html("The PV-value is equal to " + PV);
        }


        toggleSizes();
        checkVentus();


        $('#id_aftSize').keyup(function() {
            checkVentus();
        })

        $('#id_rpm').keyup(function() {
            checkVentus();
        })

        $('#id_draught_shaft').keyup(function() {
            checkVentus();
        })

        // show/hide on load based on pervious value of selectField
        toggleVerified(selectField.val());


        aft.change(function() {
            toggleSizes();
        })

        fwd.change(function() {
            toggleSizes();
        })

        // show/hide on change
        selectField.change(function() {
            toggleVerified($(this).val());
        });



        
    });
})(jQuery);

</script>

{% endblock %}	 