
{% extends 'sealadvisor2/base.html' %}
{% load static %}

{% block content %}
<h1>Supreme Seal advisor</h1>
<p><a class='wave-effect btn orange' href="{% url 'sealadvisor2:index' %}">Back to overview</a>
<a class='wave-effect btn orange' href="{% url 'sealadvisor2:supreme' %}">Add new advise</a></p>
<br>
<div class='row'>
	<div class='col s6'>
		<div class='card teal lighten-4'>
			<div class='card-content'>
				<span class='card-title black-text'>General information</span>
                <div style='float:right;'>
                    <a class="btn-floating waves-effect waves-light blue" href="{% url 'sealadvisor2:supremeEdit' advise.id %}"><i class="material-icons">edit</i></a>
                </div>
                <p>Application: {{ advise.application }}</p>
                <br>
                <p>{{ advise.get_cpp_fpp_display }} propellor</p>
                <p>Shaft rotational speed: {{ advise.rpm }} rpm</p>
                <p>Draught shaft: {{ advise.draught_shaft }} m</p>
                <br>
                {% if advise.application.key == "sterntube" %}
                <p>Aft seal: {% if advise.aft_seal %}<b>yes</b>{% else %}no{% endif %}</p>
                <p>Forward seal: {% if advise.fwd_seal %}<b>yes</b>{% else %}no{% endif %}</p>
                {% endif %}
                <br> 
                <p>Type approval: {{ advise.typeApproval }}</p>
                <br>
                <p>Aft shaft size: {{ advise.aftSize }} mm</p>
                {% if advise.fwd_seal %}
                <p>Shaft size: {{ advise.fwdSize}} mm</p>
                {% endif %}
			</div>
		</div>
        <div class='card green lighten-4'>
            <div class='card-content'>
                <span class='card-title black-text'>Environment</span>
                <div style='float:right;'>
                    <a class="btn-floating waves-effect waves-light green" href="{% url 'sealadvisor2:supremeEnvironmentEdit' advise.id advise.environment.id %}"><i class="material-icons">edit</i></a>
                </div>              
                <p>Has to comply with VGP: {% if advise.environment.vgp %}yes{% else %}no{% endif %}</p>
                <p>Oil type: {{ advise.environment.get_oil_display }}</p>
                <p>Use air system: {% if advise.environment.air %}yes, {{ air }}{% else %}no{% endif %}
            </div>
        </div>
        
	</div>
	<div class='col s6'>
        {% if advise.aft %}
        <div class='card teal lighten-4'>
            <div class='card-content'>
                <span class='card-title black-text'>Aft seal advise</span>
                <div style='float:right;'>
                    <a class="btn-floating waves-effect waves-light blue" href="{% url 'sealadvisor2:supremeAftEdit' advise.id advise.aft.id %}"><i class="material-icons">edit</i></a>
                </div> 
                <p><b>X01{{ sizeaft }}AA{{ advise.aftSize }}A</b></p><br>
                <p>Use seaguard for extra protection: {% if advise.aft.seaguard %}yes{% else %}no{% endif %}</p>
                <p>Centering of liner: {{ advise.aft.get_linerCentering_display }}</p>
                <p>O-ring between liner and shaft: {% if advise.aft.oring %} yes {% else %}no{% endif %}</p>
                <p>HML layer: {% if advise.aft.hml %} yes {% else %}no{% endif %}</p>
                <p>Distance ring: {% if advise.aft.distanceRing %}yes{% else %}no{% endif %}</p>
                <p>Dirt barrier: {% if advise.aft.dirtBarrier %}yes{% else %}no{% endif %}</p>
                <p>Wirewinders: {% if advise.aft.wireWinders %}yes{% else %}no{% endif %}</p>
                <p>Netcutters: {% if advise.aft.netCutters %}yes{% else %}no{% endif %}</p>
                <p>Hastelloy springs: {% if advise.aft.hastelloy %}yes{% else %}no{% endif %}</p>
                <p>Type of lip-seal rubber: {{ rubber }}</p>
                <p>PV-value: {{ pv }}</p>


            </div>
        </div>
        {% endif %}
        {% if advise.fwd_seal %}
        <div class='card teal lighten-4'>
            <div class='card-content'>
                <span class='card-title black-text'>Forward seal advise</span>
                <p>Type of lip-seal rubber: {{ rubber_fwd }}</p>
                <p>PV-value: {{ pv_fwd }}</p>                

            </div>
        </div>
        {% endif %}
	</div>
</div>



{% endblock %}	 