
{% extends 'sealadvisor2/base.html' %}
{% load static %}

{% block content %}
<h1>Supreme Seal advisor</h1>
<p><a class='wave-effect btn orange' href="{% url 'sealadvisor2:index' %}">Back to overview</a>
<a class='wave-effect btn orange' href="{% url 'sealadvisor2:supreme' %}">Add new advise</a></p>
<br>
<div class='row'>
	<div class='col s6'>
		<div class='card teal lighten-4'>
			<div class='card-content'>
				<span class='card-title black-text'>General information</span>
                <div style='float:right;'>
                    <a class="btn-floating waves-effect waves-light blue" href="{% url 'sealadvisor2:supremeEdit' advise.id %}"><i class="material-icons">edit</i></a>
                </div>

                <br>
                <table class='teal lighten-5' style='font-size:0.8em;'>
                    <thead>
                    <tr>
                    <th data-field="id">Parameter</th>
                    <th data-field="name">Value</th>
                    </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Application</td>
                            <td>{{ advise.application }}</td>
                        </tr> 
                        <tr>
                            <td>CPP or FPP</td>
                            <td>{{ advise.get_cpp_fpp_display }} propellor</td>
                        </tr>
                        <tr>
                            <td>Shaft rotational speed</td>
                            <td>{{ advise.rpm }} rpm</td>
                        </tr>
                        <tr>
                            <td>Draught shaft</td>
                            <td>{{ advise.draught_shaft }} m</td>
                        </tr>
                        <tr>
                            <td>Shaft rotational speed</td>
                            <td>{{ advise.rpm }} rpm</td>
                        </tr>
                        {% if advise.application.key == "sterntube" %}
                        <tr>
                            <td>Aft seal</td>
                            <td>{% if advise.aft_seal %}<b>Size: {{ advise.aftSize }} mm</b>{% else %}no{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Forward seal</td>
                            <td>{% if advise.fwd_seal %}<b>Size: {{ advise.fwdSize }} mm</b>{% else %}no{% endif %}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td>Aft seal</td>
                            <td>size: {{ advise.aftSize }} mm</b></td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Shaft rotational speed</td>
                            <td>{{ advise.rpm }} rpm</td>
                        </tr>

                        <tr>
                            <td>Type approval</td>
                            <td>{{ advise.typeApproval }}</td>
                        </tr>                        
                    </tbody>
                </table>                                                
			</div>
		</div>
        <div class='card green lighten-4'>
            <div class='card-content'>
                <span class='card-title black-text'>Environment</span>
                <div style='float:right;'>
                    <a class="btn-floating waves-effect waves-light green" href="{% url 'sealadvisor2:supremeEnvironmentEdit' advise.id advise.environment.id %}"><i class="material-icons">edit</i></a>
                </div>              

                 <table class='green lighten-5' style='font-size:0.8em;'>
                    <thead>
                    <tr>
                    <th data-field="id">Parameter</th>
                    <th data-field="name">Value</th>
                    </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Has to comply with VGP</td>
                            <td>{% if advise.environment.vgp %}yes{% else %}no{% endif %}</td>
                        </tr> 
                        <tr>
                            <td>Oil</td>
                            <td>{{ advise.environment.get_oil_display }}</td>
                        </tr>
                        <tr>
                            <td>Oil type</td>
                            <td>{{ advise.environment.oilType }}</td>
                        </tr>
                        <tr>
                            <td>Use air system</td>
                            <td>{% if advise.environment.air %}yes, {{ air }}{% else %}no{% endif %}</td>
                        </tr>
                        
                    </tbody>
                </table>       
            </div>
        </div>
        
	</div>
	<div class='col s6'>
        {% if advise.aft %}
        <div class='card teal lighten-4'>
            <div class='card-content'>
                <span class='card-title black-text'>Aft seal advise</span>
                <div style='float:right;'>
                    <a class="btn-floating waves-effect waves-light blue" href="{% url 'sealadvisor2:supremeAftEdit' advise.id advise.aft.id %}"><i class="material-icons">edit</i></a>
                </div> 

                <br>
                <table class='teal lighten-5' style='font-size:0.8em;'>
                    

                    <tbody>
                        <tr>
                            <td><b>Drawing number</b></td>
                            <td><b>{{ number }} {% if execution.code == '??' %}(Drawing with this configuration does not exist){% endif %}</b></td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td>{{ type }}</td>
                        </tr>  
                        <tr>
                            <td>PV-value</td>
                            <td>{{ pv }}</td>
                        </tr> 
                        <tr>
                            <td>Execution</td>
                            <td>{{ execution.execution }}, code: {{ execution.code }}</td>
                        </tr> 
                    </tbody>
                </table>
                <br>    
                <table class='teal lighten-5' style='font-size:0.8em;'>
                    <thead>
                    <tr>
                    <th data-field="id">Parameter</th>
                    <th data-field="name">Value</th>
                    </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Build-in length</td>
                            <td>{{ advise.aft_build_in_length }}</td>
                        </tr>
                        <tr>
                            <td>Centering of liner</td>
                            <td>{{ advise.aft.get_linerCentering_display }}</td>
                        </tr>  
                    </tbody>
                </table>
                <br>
                <table class='teal lighten-5' style='font-size:0.8em;'>
                    <thead>
                        <tr>
                            <th data-field="id">Customised options</th>
                            <th data-field="name">Value</th>
                        </tr>
                    </thead>
                    <tbody> 
                    <tr>
                            <td>Use seaguard for extra protection</td>
                            <td>{% if advise.aft.seaguard %}yes{% else %}no{% endif %}</td>
                        </tr>
                        <tr>
                            <td>O-ring between liner and shaft</td>
                            <td>{% if advise.aft.oring %} yes {% else %}no{% endif %}</td>
                        </tr> 
                        <tr>
                            <td>HML layer</td>
                            <td>{% if advise.aft.hml %} yes {% else %}no{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Distance ring</td>
                            <td>{% if advise.aft.distanceRing %}yes{% else %}no{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Dirt barrier</td>
                            <td>{% if advise.aft.dirtBarrier %}yes{% else %}no{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Wirewinders</td>
                            <td>{% if advise.aft.wireWinders %}yes{% else %}no{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Netcutters</td>
                            <td>{% if advise.aft.netCutters %}yes{% else %}no{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Hastelloy springs</td>
                            <td>{% if advise.aft.hastelloy %}yes{% else %}no{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Type of lip-seal rubber</td>
                            <td>{{ rubber }}</td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
        {% endif %}
        {% if advise.fwd %}
        <div class='card teal lighten-4'>
            <div class='card-content'>
                <span class='card-title black-text'>Forward seal advise</span>
                <div style='float:right;'>
                    <a class="btn-floating waves-effect waves-light blue" href="{% url 'sealadvisor2:supremeFwdEdit' advise.id advise.fwd.id %}"><i class="material-icons">edit</i></a>
                </div>
                <p>Build-in length: {{ advise.fwd_build_in_length }} mm</p>
                <p>Type of lip-seal rubber: {{ rubber_fwd }}</p>
                <p>PV-value: {{ pv_fwd }}</p> 
                <p>FKM lip-seals used: {% if advise.fwd.fkm %}yes{% else %}no{% endif %}</p>
                <p>OCR ring: {% if advise.fwd.ocr %}yes{% else %}no{% endif %}</p>

            </div>
        </div>
        {% endif %}
	</div>
</div>



{% endblock %}	 