html {
	font-family:sans-serif;
}

/*form.search-seals p {
	width:30%;
}

.helptext {
	display:none;
}

form.search-seals .fieldWrapper {
	width:10em;
	float:left;
	margin-right:1em;
/*

form.search-seals #id_installedInVessel {
	display:none;
}*/

h1 {
    font-size:3em;
    font-family:'georgia';
}

span.card-title {
    font-family:'georgia';
}

nav img {
    height:60px;
}

nav ul a {
    font-family:"georgia";
    color:black;
}

img.opties {
	width:100%;
	padding-top:5%;
}