{% load staticfiles %}
<html>
	<head>
		<style>

		</style>
		<!--Import materialize.css-->

        {% include 'material/includes/material_css.html' %}
        <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
        {% include 'material/includes/material_js.html' %}
        {% load material_form %} 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/sealadvisor2.css' %}">
	</head>
  
 	<body>
 	
        <div id='background'></div>
            
        
        <nav>
            <div class="nav-wrapper blue lighten-4">
            <a href="#" class="brand-logo"><img src="{% static 'images/logo-lagersmit.png' %}"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'erp:index' %}">Home</a></li>
                <li><a href="{% url 'sealadvisor2:companies' %}">Companies</a></li>
                <li><a href="{% url 'erp:viewSeals' %}">Seals</a></li>
            </ul>
            </div>
        </nav>

        <div class="content container">
                {% block content %}
                {% endblock %}
        </div>

 	</body>
</html>
