{% extends 'erp/base.html' %}
{% load static %}
{% load material_form %} 


{% block content %}
<h1>{{ title }}</h1>
<div class='row'>
	<div class='col s6'>
		<div class='card teal lighten-4'>
			<div class='card-content'>
				<span class='card-title black-text'>{{ title }}</span>
				<form method="POST" class="post-form">
                    {% csrf_token %}
                    {% form form=form %} {% endform %}
                    <br>
                    <button type="submit" class="save btn btn-default">{{ submit }}</button>
                    <a href="{% url 'erp:index' %}" class='btn waves-effect waves-light'>Cancel</a>
                </form>
			</div>
		</div>
	</div>
	{% if seal %}
	<div class='col s6'>
		<div class='card teal lighten-4'>
			<div class='card-content'>
				<span class='card-title black-text'>Seal information</span>
				<p>X-number: {{ seal.x_number }}</p>
				<p>Installed in vessel: {{ seal.vessel }}</p>
				<p>Vessel owned by: {{ seal.company }}</p>
				<p>Seal type: {{ seal.seal_type }}</p>
				<p>Size: {{ seal.size }}</p>

			</div>
		</div>
	</div>
	{% endif %}
</div>


{% endblock %}