{% extends 'erp/base.html' %}
{% load render_table from django_tables2 %}
{% load static %}


{% block content %}
<h1>{{ seal.x_number }}</h1>

<p><a class='btn waves-effect waves-light blue' href="{% url 'erp:index' %}">Home</a></p>
<br>

<div class='row'>
  <div class='col s6'>
    <div class='card teal lighten-4'>
      <div class='card-content'>
        <span class='card-title black-text'>Seal information</span>
        <div style='float:right;'>
          <a class="btn-floating waves-effect waves-light blue" href="{% url 'erp:editSeal' seal.id %}"><i class="material-icons">edit</i></a>
        </div>
        <p>X number: {{ seal.x_number }}</p>
        <p>Type: {{ seal.seal_type }}</p>
        <p>Company: {{ seal.company }}</p>
        <p>Vessel: {{ seal.vessel }}</p>
        <p>Created: {{ seal.created }}</p>
      </div>
    </div>
    <div class='card teal lighten-4'>
      <div class='card-content'>
        <span class='card-title black-text'>Service reports</span>
        <div style='float:right;'>
          <a class="btn-floating waves-effect waves-light blue" href="{% url 'erp:addServiceReport' seal.id %}"><i class="material-icons">add</i></a>
        </div>
        {% for report in reports %}
          <p>{{ report }}Parts to replace: {% for part in report.parts_to_replace.all %}{{ part }},{% endfor %}</p>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class='col s6'>
    <div class='card teal lighten-4'>
      <div class='card-content'>
        <span class='card-title black-text'>Parts</span>
        <div style='float:right;'>
          <a class="btn-floating waves-effect waves-light blue" href="{% url 'erp:addComponentToSeal' seal.id %}"><i class="material-icons">add</i></a>
        </div>
        {% render_table table %}
      </div>
    </div>
  </div>
</div>


{% endblock %}	 